<?xml version="1.0" encoding="utf-8"?>
<!--
  Intermittent empty IIS 403 on Site4Now = Dynamic IP Restrictions banning clients
  after request bursts (CORS then fails → browser "Service is updating / Unable to reach").
  outofprocess + deny-by-rate disabled stabilizes shared hosting.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\DigitalDive.Hr.Api.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess"
                  startupTimeLimit="180"
                  requestTimeout="00:05:00" />
      <httpErrors existingResponse="PassThrough" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
        <dynamicIpSecurity>
          <denyByConcurrentRequests enabled="false" />
          <denyByRequestRate enabled="false" />
        </dynamicIpSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>
